/* colours from nimi.li */
.usagecatcore {
	color: rgb(52 211 153);
	font-weight: bolder;
}

.usagecatcommon {
	color: rgb(56 189 248);
	font-weight: bolder;
}

.usagecatuncommon {
	color: rgb(250 204 21);
	font-weight: bolder;
}

.usagecatobscure {
	color: rgb(232 121 249);
	font-weight: bolder;
}

.usagecatsandbox {
	color: rgb(209 213 219);
	font-weight: bolder;
}

/* unknown or unset category */
.usagecat {
	color: rgb(209 213 219);
	font-weight: bolder;
}

.book,
.bold {
	font-weight: bolder;
}

.warningbanner-obscure.warningobscure {
	visibility: visible !important;
}

.warningbanner-sandbox.warningsandbox {
	visibility: visible !important;
}

.warning {
	visibility: collapse;
}

.centered {
	text-align: center;
}

.card {
	width: 95%;
	font-size: 18px;
}

.content {
	max-width: 75ch;
	margin: 0 auto;
}

.comment {
	color: rgb(54, 55, 56);
}

.nightMode .comment {
	color: rgb(168, 168, 168);
}

.glyph {
	filter: invert(1);
}

.nightMode .glyph {
	filter: invert(0);
}
.definition {
	font-weight: bolder;
}

.word {
	font-weight: bolder;
}
.bigword {
	font-size: 28px;
}